@inherits LayoutComponentBase
@inject IAuthenticationService AuthService
@inject AuthenticationStateProvider AuthState
@attribute [Authorize]

<div class="bb-page">
    <CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                <Sidebar @ref="sidebar"
                         IconName="IconName.Command"
                         Title="eVtol Calculations"
                         DataProvider="AuthorizedSidebarDataProvider" />
            </Authorized>
            <NotAuthorized>
                <Sidebar @ref="sidebar"
                         IconName="IconName.Command"
                         Title="eVtol Calculations"
                         DataProvider="NotAuthSidebarDataProvider" />
            </NotAuthorized>
            <Authorizing>

            </Authorizing>
        </AuthorizeView>
    </CascadingAuthenticationState>

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-end">
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                            Welcome @context.User.FindFirst(ClaimTypes.Name).Value   
                        <NavLink class="nav-link" href="logout">
                            <Button Type="ButtonType.Reset"><Icon Name="IconName.PersonFillLock" />Logout</Button>
                        </NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <Login />
                    </NotAuthorized>
                </AuthorizeView>            
            </CascadingAuthenticationState>

        </div>

        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>
    </main>
</div>

<Modal IsServiceModal="true" />
<Preload />
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

@code {
    private Sidebar sidebar = default!;
    private IEnumerable<NavItem> navItems = default!;

    protected async override Task OnInitializedAsync()
    {
        var state = await AuthState.GetAuthenticationStateAsync();
        if (state is not null && state.User is not null && state.User.Identity.IsAuthenticated is false)
        {
            await AuthService.RefreshAsync();
        }
    }

    private async Task<SidebarDataProviderResult> AuthorizedSidebarDataProvider(SidebarDataProviderRequest request)
    {
        navItems = default;

        if (navItems is null)
            navItems = GetAuthorizedNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private async Task<SidebarDataProviderResult> NotAuthSidebarDataProvider(SidebarDataProviderRequest request)
    {
        navItems = default;

        if (navItems is null)
            navItems = GetNotAuthorizedNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNotAuthorizedNavItems()
    {
        navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/", IconName = IconName.HouseDoorFill, Text = "Home", Match=NavLinkMatch.All},
            new NavItem { Id = "3", Href = "/register", IconName = IconName.PersonAdd, Text = "Register"},

        };

        return navItems;
    }

    private IEnumerable<NavItem> GetAuthorizedNavItems()
    {
        navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/", IconName = IconName.HouseDoorFill, Text = "Home", Match=NavLinkMatch.All},
            new NavItem { Id = "4", Href = "/conceptualDesign", IconName = IconName.BoundingBox, Text = "Conceptual Design"},
            new NavItem { Id = "5", Href = "/batterypackdesign", IconName = IconName.BatteryCharging, Text = "Battery Pack Design"},
            new NavItem { Id = "6", Href = "/motordesign", IconName = IconName.GearWideConnected, Text = "Motor Design"},
            new NavItem { Id = "7", Href = "/inverterdesign", IconName = IconName.EVStationFill, Text = "Inverter Design"},
            new NavItem { Id = "8", Href = "/bladedesign", IconName = IconName.Fan, Text = "Blade Design"},
            new NavItem { Id = "9", Href = "detailedDesign", IconName = IconName.AirplaneEnginesFill, Text = "Detail Design"}

        };

        return navItems;
    }
}