@page "/"
@attribute [AllowAnonymous]

<PageTitle>Index</PageTitle>

<div class="container-fluid">
    <section class="container-xl">
        <section class="row-cols-1">
            <div class="col">
                <img src="~/../wwwroot/TaylorAerocar_029.jpg" alt="This is flying car" />
            </div>
            <div class="col-4">
                <h1>This Is the old flying car design</h1>
                <span></span>
                <p>
                    This was a very old design and that makes it very heavy.
                    We should be looking into making better designs that are more user friendly and safer.
                    We should also not be worrying about adding wings like these types of designs as they are very inefficient.
                </p>
            </div>
        </section>
    </section>
</div>


@code{

}